.broswer {
    section.hero {
        padding: 20em 0 20em;
    }
}

.brsower__icon {
    padding-top: 4em;

    div {
        vertical-align: middle;
        padding-right: 1em;
    }

    div a {
        border-bottom: 1px solid;
        display: inline-block;
    }
}
